<h1><%= "Editing: #{params[:mailer]} > #{params[:method]}" %></h1>

<p>
  <%= link_to 'Return to list', root_path %> |
  <%= link_to 'Show', maily_email_path(mailer: params[:mailer], method: params[:method]) %>
</p>

<h2>Body</h2>
<%= form_tag(maily_email_path(mailer: params[:mailer], method: params[:method]), method: :put) do %>
  <%= text_area_tag :body, @email, cols: 80, rows: 30 %>
  <p><%= submit_tag 'Update' %></p>
<% end %>
