<%= email_description(@maily_email) %>

<%= form_tag(update_maily_email_path(maily_params.merge(part: params[:part])), method: :put) do %>
  <ul class="action_bar">
    <li>
      <%= link_to 'Show', maily_email_path(maily_params) %>
    </li>

    <li class="splitter">|</li>

    <li>
      <%= submit_tag 'Update', class: 'button' %>
    </li>
  </ul>

  <div class="mail_preview">
    <%= text_area_tag :body, @template, class: 'mail_updatearea' %>
  </div>
<% end %>
