<div class="content">
  <%= email_description(@maily_email) %>

  <ul class="maily_action_bar">
    <li>
      <%= link_to 'Edit', edit_maily_email_path(mailer: params[:mailer], email: params[:email], part: params[:part]) %>
    </li>

    <li class="maily_languages">
      <% if Maily.available_locales.present? %>
        <ul>
          <li>
            <%= icon 'globe' %> Languages
          </li>
          <% Maily.available_locales.each do |locale| %>
            <li><%= link_to locale.upcase, url_for(params.to_unsafe_h.merge(locale: locale)) %></li>
          <% end %>
        </ul>
      <% end %>
    </li>

    <li class="maily_splitter">|</li>

    <li>
      <%= form_tag(deliver_maily_email_path(mailer: params[:mailer], email: params[:email], locale: params[:locale]), method: :post, class: 'maily_send') do %>
        <ul>
          <li>Send to</li>
          <li><%= email_field_tag :to, nil, class: 'maily_textfield', placeholder: "Enter email", required: true %></li>
          <li><%= submit_tag 'Send', class: 'maily_button' %></li>
        </ul>
      <% end %>
    </li>
  </ul>

  <div class="maily_mail_preview">
    <ul class="maily_mail_details">
      <% if @email.subject %><li><b>Subject</b> <%= @email.subject %></li><% end %>
      <% if @email.from %><li><b>From</b> <%= @email.from.join(', ') %></li><% end %>
      <% if @email.to %><li><b>To</b> <%= @email.to.join(', ') %></li><% end %>
      <% if @email.cc %><li><b>Cc</b> <%= @email.cc.join(', ') %></li><% end %>
      <% if @email.bcc %><li><b>Bcc</b> <%= @email.bcc.join(', ') %></li><% end %>
      <% if @email.reply_to %><li><b>Reply to</b> <%= @email.reply_to.join(', ') %></li><% end %>
    </ul>

    <% if @email.html_part && @email.text_part %>
      <ul class="maily_format_mail">
        <li><%= link_to 'HTML', url_for(params.to_unsafe_h.merge(part: 'html')), class: part_class('html') %></li>
        <li><%= link_to 'TEXT', url_for(params.to_unsafe_h.merge(part: 'text')), class: part_class('text') %></li>
      </ul>
    <% end %>

    <% if @email.html_part || @email.text_part || @email.body.present? %>
      <iframe class="maily_preview" onload='resizeIframe(this)' src="<%= raw_maily_email_path(mailer: params[:mailer], email: params[:email], locale: params[:locale], part: params[:part]) %>" frameborder="1" width="100%"></iframe>
    <% end %>

    <% if @email.attachments.present? %>
      <ul class="maily_mail_attachments">
        <li>Attachments:</li>
        <li>
          <ul>
            <% @email.attachments.each do |attachment| %>
              <li>
                <%= icon 'paperclip' %>
                <%= link_to attachment.filename, attachment_maily_email_path(mailer: params[:mailer], email: params[:email], attachment: attachment.filename) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</div>
