<h1><%= "#{params[:mailer].humanize} > #{params[:method].humanize}" %></h1>

<p>
  <%= link_to 'Return to list', root_path %> |
  <%= link_to 'Edit', edit_maily_email_path(mailer: params[:mailer], method: params[:method]) %>
</p>

<h2>Send</h2>
<%= form_tag(deliver_maily_email_path(mailer: params[:mailer], method: params[:method]), method: :post) do %>
  <%= label_tag 'To:' %>
  <%= email_field_tag :to %>
  <%= submit_tag 'Send' %>
<% end %>

<h2>Details</h2>
<ul>
  <li>Subject: <%= @email.subject %></li>
  <li>From: <%= @email.from %></li>
  <li>To: <%= @email.to %></li>
  <li>Cc: <%= @email.cc %></li>
  <li>Bcc: <%= @email.bcc %></li>
</ul>

<iframe src="<%= raw_maily_email_path(mailer: params[:mailer], method: params[:method]) %>" frameborder="1" height="100%" width="100%"></iframe>
