<h1><%= "#{params[:mailer].humanize} > #{params[:method].humanize}" %></h1>

<p>
  <%= link_to 'Return to list', root_path %> |
  <%= link_to 'Edit', edit_maily_email_path(mailer: params[:mailer], method: params[:method]) %>
</p>

<h2>Send</h2>
<%= form_tag(deliver_maily_email_path(mailer: params[:mailer], method: params[:method], locale: params[:locale]), method: :post) do %>
  <%= label_tag 'To:' %>
  <%= email_field_tag :to %>
  <%= submit_tag 'Send' %>
<% end %>

<h2>Languages</h2>
<p>
  <% Maily.available_locales.each do |locale| %>
    <%= link_to locale, url_for(params.merge(locale: locale)) %>
  <% end %>
</p>

<h2>Details</h2>
<ul>
  <li>Subject: <%= @email.subject %></li>
  <li>From: <%= @email.from %></li>
  <li>To: <%= @email.to %></li>
  <li>Cc: <%= @email.cc %></li>
  <li>Bcc: <%= @email.bcc %></li>
</ul>

<p>
  <%= link_to 'HTML', url_for(params.merge(part: 'html')) if @email.html_part %>
  <%= link_to 'TEXT', url_for(params.merge(part: 'text')) if @email.text_part %>
  <% if @email.attachments.present? %>
    <% @email.attachments.each do |attachment| %>
      <%= link_to attachment.filename, attachment_maily_email_path(mailer: params[:mailer], method: params[:method], attachment: attachment.filename) %>
    <% end %>
  <% end %>
</p>

<% if @email.html_part || @email.text_part || @email.body.present? %>
  <iframe src="<%= raw_maily_email_path(mailer: params[:mailer], method: params[:method], locale: params[:locale], part: params[:part]) %>" frameborder="1" height="100%" width="100%"></iframe>
<% end %>