<!DOCTYPE html>
<html>
<head>
  <title>Maily</title>
  <%= stylesheet_link_tag    "maily/application", :media => "all" %>
  <%= javascript_include_tag "maily/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr/>
<%= link_to "Maily v#{Maily::VERSION}", 'https://github.com/markets/maily' %>

</body>
</html>
