<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= render 'maily/shared/stylesheet' %>
  <%= render 'maily/shared/javascript' %>
</head>
<body>
  <%= render 'maily/shared/header' %>

  <div class="wrap_content">
    <%= render 'maily/shared/sidebar' %>

    <div class="content">
      <%= render 'maily/shared/flash_messages' %>

      <%= yield %>
    </div>
  </div>

  <%= render 'maily/shared/footer' %>
</body>
</html>
