<!DOCTYPE html>
<html>
<head>
  <title>Maily</title>
  <%= stylesheet_link_tag    "maily/application", :media => "all" %>
  <%= javascript_include_tag "maily/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'maily/shared/header' %>

  <div class="wrap_content clearfix">
    <%= render 'maily/shared/sidebar' %>

    <% if flash[:alert].present? %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </div>

  <%= render 'maily/shared/footer' %>
</body>
</html>
