<!DOCTYPE html>
<html>
<head>
  <title>Maily</title>
  <%= stylesheet_link_tag    "maily/application", :media => "all" %>
  <%= javascript_include_tag "maily/application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/assets/javascripts/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <%= render 'maily/shared/header' %>

  <div class="wrap_content clearfix">
    <%= render 'maily/shared/sidebar' %>
    <%= yield %>
  </div>

  <%= render 'maily/shared/footer' %>
</body>
</html>
